{% extends 'layouts/default-layout.twig' %}

{% set short_title = 'Delete Post' %}

{% block content %}

<h2> {{ short_title }} </h2>
<h2> Are you sure you want to delete this post? </h2>

<ul class="entries">
{% include('partials/entry.twig') %}
</ul>

<div class="alert alert-warning">
    Check the box below to confirm you want to delete this post.<br>
    If you don’t want to delete, you can <b><a href="{{ path_for('profile', {'domain': session('hostname')}) }}">cancel and return to your profile</a></b>.
</div>

{% if is_micropub_post and not has_micropub_delete %}
<div class="alert alert-warning">
    Optional: If you would like to also delete this post from your site, indiebookclub will need additional permission: <b><a href="{{ path_for('auth_re_authorize') }}">Re-authorize to add delete permission</a></b>
</div>
{% endif %}

<form method="post" action="{{ path_for('delete') }}">
    <input type="hidden" name="confirm_delete" value="no">
    <p> <label><input type="checkbox" name="confirm_delete" value="yes" required> Yes, delete this post from indiebookclub</label> </p>

    <input type="hidden" name="mp_delete" value="no">

    {% if is_micropub_post and has_micropub_delete %}
    <p>
        <label><input type="checkbox" name="mp_delete" value="yes"> Delete this post from my site as well (optional)</label>
        <span class="help-block">This will send a Micropub delete request to your site</span>
    </p>
    {% endif %}

    <input type="submit" value="Delete">
    <input type="hidden" name="id" value="{{ entry.id }}">
</form>

{% endblock content %}

