{% extends 'layouts/default-layout.twig' %}

{% block content %}

{% if is_micropub_user %}

    <h2> Sign In </h2>
    <p> indiebookclub is able to post to your website! </p>
    <p> Click the button below to sign in and allow this app to post to your site. </p>

{% else %}

    <h2> Would you like to use a hosted account? </h2>
    <p> It looks like your site doesn’t support posting with <a href="https://micropub.net/">Micropub</a>. You can still use indiebookclub to track what you are reading and the posts will be here instead of on your own site. You can export your posts in HTML at any point. </p>

{% endif %}

    <p> <b><a href="{{ authorization_url }}">Sign In</a></b> </p>

    <details class="callout">
        <summary>Debugging Information:</summary>
        <p> indiebookclub found the following endpoints on your site: </p>
        <ul>
            <li> IndieAuth metadata endpoint: <code>{{ metadata_endpoint ?: 'none' }}</code> </li>
            <li> Authorization endpoint: <code>{{ authorization_endpoint ?: 'none' }}</code> </li>
            <li> Token endpoint: <code>{{ token_endpoint ?: 'none' }}</code> </li>
            <li> Micropub endpoint: <code>{{ micropub_endpoint ?: 'none' }}</code> </li>
            <li> Revocation endpoint: <code>{{ revocation_endpoint ?: 'none' }}</code> </li>
        </ul>
    </details>

{% endblock content %}

